<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687159755744-fovvk7r7gieae3fjc7hafpqdnrfld2pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687159755744-fovvk7r7gieae3fjc7hafpqdnrfld2pb</string>
	<key>API_KEY</key>
	<string>AIzaSyDruiaTXF-5096b0gqW6u7ERfgZVZ44EdM</string>
	<key>GCM_SENDER_ID</key>
	<string>687159755744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomeszx.MoviesMVVM</string>
	<key>PROJECT_ID</key>
	<string>moviesmvvm-5adc8</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesmvvm-5adc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687159755744:ios:42e87bdef1ab1ac7122185</string>
</dict>
</plist>